.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  padding-right: 10px;
  color: white;
}

.App-link {
  color: #09d3ac;
}
